.choice
  .first-choice#paper-hand
    img(src="https://i.ibb.co/CnVBxjh/paper.jpg", alt="paper" width="50" height="50")

  .second-choiche#rock-hand
    img(src="https://i.ibb.co/61jtRf3/rock.png", alt="rock" width="50" height="50")

  .third-choice#scissors-hand
    img(src="https://i.ibb.co/RQZh494/scissors.png", alt="scissors" width="50" height="50")