<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Rock Paper Scissors Game 
  body
    include _component/header/header.pug
    include _component/score-counter/score-counter
    include _component/result-message/result-message
    include _component/choice/choice.pug

    #destiny-message
      p Choose your destiny wise.
