<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Rock Paper Scissors Game 
  body
    include _component/header/header.pug
    .score-counter
      #user-label.badge user
      #computer-label.badge comp
      span#user-score 0
      | :
      span#computer-score 0

    .message-result
      p Rock destroy scissor. User win!

    .choice
      .first-choice#paper-hand
        img(src="https://i.ibb.co/CnVBxjh/paper.jpg", alt="" width="100" height="100")

      .second-choiche#rock-hand
        img(src="https://i.ibb.co/61jtRf3/rock.png", alt="" width="100" height="100")

      .third-choice#scissors-hand
        img(src="https://i.ibb.co/RQZh494/scissors.png", alt="" width="100" height="100")

    #destiny-message
      p Choose your destiny wise.
